## Python Variables

![Photo by DATAIDEA](../assets/banner4.png)

[Video: Python Variables](https://www.youtube.com/embed/sMPgOIwTC_U?si=WKdcP5QDfL9ncXQN)
<div class="video-wrapper">
  <iframe
    class="video-iframe"
    src="https://www.youtube.com/embed/sMPgOIwTC_U?si=WKdcP5QDfL9ncXQN"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
    allowfullscreen
  >
  </iframe>
</div>

## Variables
- Varibles are used to store values.
- To create a variable, use the equal sign `(=)`.

In the examples below, we create varibales name `fruit` and `name` and we assign them values `'mango'` and `'viola'` respectively

In [ ]:
fruit = 'mango'
name = 'voila'

# printing out
print(name, ' likes ', fruit )

voila  likes  mango

### Rules to consider 
- Spaces are not allowed eg 
- Can not start with number eg
- Can not have special characters eg
- Are case sensitive

Examples of good variable names

In [ ]:
my_favorite_character = 'Stewie Griffin' # snake case
myFavoriteCharacter = 'Meg Griffin' # camel case
MyFavoriteCharacter = 'Brian Griffin' # Pascal case

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8076040302380238"
     crossorigin="anonymous"></script>
<!-- inline_horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8076040302380238"
     data-ad-slot="9021194372"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

## Data Types
In this section of the tutorial, you will learn the most basic data types in Python

### Numbers

These are two basic types of numbers and they are called:
- integer(numbers without decimal places)
- floating point numbers(numbers with decimal places)

In [ ]:
# python numbers
# Integers
age = 45
population = 45000000

In [ ]:
# Floating point numbers
height = 1.7
weight = 147.45

[More on Numbers <i class="bi bi-arrow-right-circle" title="Get Started"></i>](./02_variables.ipynb)

## Strings

Strings are simply text. A string must be surrounded by single or double quotes

In [ ]:
# Strings
name = 'Juma'
other_name = "Masaba Calvin"
statement = 'I love coding'

### Single or double quotes?

Use single quotes when your string contains double quotes, or the vice versa.

In [ ]:
# when to use which quotes
report = 'He said, "I will not go home"'

### String Methods
In this lesson, we will study some methods(functions) that can be used to work with strings.

#### Capitalize String
The `capitalize()` function returns the string where the first letter is in upper case. 

Note that it doesn't modify the original string.

In [ ]:
text = 'shafara VEe'
capitalized_text = text.capitalize()
print(capitalized_text)

Shafara vee

#### Convert to Upper Case
The `upper()` function returns a copy of the given string but all the letters are in upper case.

Note that this does not modify the original string.

In [ ]:
text = 'shafara VEe'
upper_text = text.upper()
print(upper_text)

SHAFARA VEE

#### Convert to Lower Case
The `lower()` function returns a copy of the given string but all the letter are in lower case.

Note that it does not modify the original text/string

In [ ]:
text = 'shafara VEe'
lower_text = text.lower()
print(lower_text)

Lower case text: shafara vee

#### Get the lenght of a String
The length of a  string is the number of characters it contains

The `len()` function returns the length of a string. It takes on paramter, the string.

In [ ]:
text = 'shafara VEe'
text_length = len(text)
print(text_length)

11

#### Replace Parts of a String.
The `replace()` method/function replaces the occurrences of a specified substring with another substring.

It doesn't modify the original string.

In [ ]:
text = 'shafara VEe'
corrected_text = text.replace('VEe', 'Viola')
print(corrected_text)

shafara Viola

#### Check if a Value is Present in a String
To check if a substring is present in a string, use the `in` keyword.

It returns `True` if the substring is found, otherwise `False`.

In [ ]:
text = 'shafara VEe'
print('shafara' not in text)

False

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8076040302380238"
     crossorigin="anonymous"></script>
<!-- inline_horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8076040302380238"
     data-ad-slot="9021194372"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

### Booleans
Boolean data type can only have on fo these values: `True` or `False`

<div class="alert text-white rounded" style="background: #3a6e68;"><h4>Note!</h4><p>The first letter of a Boolean is in upper case.</p></div>

Booleans are often the result of evaluated expressions.

Forexample, when you compare two numbers, Python evaluates the expression and returns either `True` or `False`

In [ ]:
print(5 == 5)
print(10 > 5)
print(20 < 10)

True
True
False

These are often used in `if` statments.

In this example, if the value of the variable `age` is more than `18`, the program will tell the user that they are allowed to enter

In [ ]:
age = 19

if age > 18:
    print('You are allowed to enter.')

You are allowed to enter.

<div class="alert text-white rounded" style="background: #3a6e68;"><h4>Note!</h4><p>You will learn more about if statements later in the course</p></div>

#### Checking the Type of a Boolean
We can check the data type of a Boolean variable using the `type()` method.

In [ ]:
married = True
print(type(married))

<class 'bool'>

### Lists
- A list is an ordered collection of data
- It can contain strings, numbers or even other lists
- Lists are written with square brackets (`[]`)
- The values in lists (also called elements) are separated by commas (`,`)

In [ ]:
# Lists
names = ['juma', 'john', 'calvin']
print(names)

['juma', 'john', 'calvin']

A list can contain mixed data types

In [ ]:
other_stuff = ['mango', True, 38]
print(other_stuff)

['mango', True, 38]

### Checking data types

To check the data type of an object in python, use `type(object)`, for example, below we get the data type of the object stored in names

In [ ]:
# Which data type
type(names)

list

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8076040302380238"
     crossorigin="anonymous"></script>
<!-- inline_horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8076040302380238"
     data-ad-slot="9021194372"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

## Converting Types

#### Convert to String
The `str()` method returns the string version of a given object

In [ ]:
# convert an integer to a string
age = 45
message = 'Peter Griffin is '+ str(age) + ' years old'
print(message)

Peter Griffin is 45 years old

#### Convert to Integer
The `int()` method returns the integer version of the given object.

In [ ]:
# Convert floating point to integer
pi = 3.14159
print(int(pi))

#### Convert to Float
The `float()` method returns the floating point version of the given object.

In [ ]:
side = 4
print(float(side))

4.0

<div class="p-3">
<p class=pb-1>
Don't miss out on any updates and developments! Subscribe to the DATAIDEA Newsletter it's easy and safe.
</p>
<iframe src="https://embeds.beehiiv.com/5fc7c425-9c7e-4e08-a514-ad6c22beee74?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent; width: 100%;" ></iframe>
</div>